
{% extends "base.html" %}

{% block title %}Welcome to spyFront{% endblock %}

{% block header %}<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="row">
<h1> Virtual Machines</h1>
<p>A list of VMs from the spyMongo database</p>
<div class="container">
<form action = "{{ url_for('main_app.mainx') }}" method = "get">
  <table class="table">
   <thead><tr>
    <th>Name</th><th>Status/th><th>Adapter 1</th><th>Adapter 2</th><th>Adapter 3</th><th>Adapter 4</th>
  </tr></thead>
  <tbody>
    {% for i in machine %}
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.status }}</td>
        {% for j in i.links %}
        <td><ul>
            <li>{{ j[0] }}</li>
            <li>{{ j[1] }}</li>
            <li>{{ j[2] }}</li>
        </ul></td>
        {% endfor %}


     {% endfor %}
    </tr>
  </tbody>
    </table>

    <hr>
    <p> Please retun to main menu </p>
<hr>
<button type="submit" class="btn btn-info btn-sm btn-sm">Main Menu</button>
</from>
{% endblock %}
</div>
