
{% extends "base.html" %}

{% block title %}Welcome to Subway{% endblock %}

{% block header %}<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">{% endblock %}

{% block content %}

{% include "navbar.html" %}

<!-- Include Bootstrap Multiselect CSS, JS -->
<link rel="stylesheet" href="/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />
<script src="/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>

<form id="multiselectForm" method="post" class="form-horizontal">


<div class="row">
<BR><BR><BR><BR><BR>
<h2>Multi Point VxLan Tunnel</h2>
  <p>VLAN: <input type=text  id="vlan" class="form-control" placeholder="102"  required name="vlan"></p>

  <p><h4>HOLD Down The CTRL Or Shift Key To Select Multiple Switches</h4></p>

  <form  method="POST" action="/new_multi">
        <label class="col-xs-3 control-label">Switches</label>
        <div class="col-xs-5">
          <table class="table">
           <thead><tr>
            <th>One</th><th>Two</th><th>Three</th><th>Four</th><th>Five</th>
          </tr></thead>
          <tbody>
            <tr>

         <td><select class="selectpicker" class="input-xxlarge" id='ip_one' name='ip_one'>
                  <option value='no select'>None selected</option>
                  {% for switch in switch_list %}
                    <option value={{switch}}>{{switch}}</option>
                    {% endfor %}
          </select></td>

            <td><select class="selectpicker"class="input-xxlarge" id='ip_two' name='ip_two'>
                  <option value='no select'>None selected</option>
                  {% for switch in switch_list %}
                    <option value={{switch}}>{{switch}}</option>
                    {% endfor %}
          </select></td>
          <td><select class="selectpicker" class="input-xxlarge" id='ip_three' name='ip_three'>
                    <option value='no select'>None selected</option>
                   {% for switch in switch_list %}
                     <option value={{switch}}>{{switch}}</option>
                     {% endfor %}
           </select></td>

             <td><select class="selectpicker"class="input-xxlarge" id='ip_four' name='ip_four'>
                    <option value='no select'>None selected</option>
                   {% for switch in switch_list %}
                     <option value={{switch}}>{{switch}}</option>
                     {% endfor %}
           </select></td>
           <td><select class="selectpicker"class="input-xxlarge" id='ip_five' name='ip_five'>
                  <option value='no select'>None selected</option>
                 {% for switch in switch_list %}
                   <option value={{switch}}>{{switch}}</option>
                   {% endfor %}
         </select></td>
        </tbody>
          </table>
      </div>
    <br>
    <hr>
    <button type="submit" class="btn btn-warning btn-sm btn-block">Search for VLAN</button>
</form>
{% endblock %}

<script type="text/javascript">
$(function() {
  $('.multiselect-ui').multiselect({
    includeSelectAllOption: true

  });
});
</script>
