!
interface Vxlan1
 vxlan source-interface {{ vx.sint }}
 vxlan udp-port 4789


  {% for i in vx.vni %}
 vxlan vlan {{ i.vlan }} vni {{ i.vni }}
  {% endfor %}


 {% for i in vx.floods %}
 xvlan vlan {{ i.vlan }} flood vtep {{ i.mod_floods }}
 {% endfor %}
